* {
  font-family: JetbrainsMono Nerd Font;
  font-size: 14px;
  min-height: 0;
  padding-right: 2px;
  padding-left: 1px;
  padding-bottom: 0px;
}

#waybar {
  background: transparent;
  color: #c6d0f5;
}

#workspaces {
  border-radius: 5px;
  margin: 5px;
  background: #101010;
  padding-right: 0.8rem;
}

#workspaces button {
  color: #babbf1;
  border-radius: 5px;
  padding: 0.4rem;
}

#workspaces button.active {
  color: #99d1db;
  border-radius: 5px;
}

#workspaces button:hover {
  color: #85c1dc;
  border-radius: 5px;
}

#cpu,
#cava,
#clock,
#memory,
#pulseaudio,
#custom-spotify {
  background-color: #101010;
  padding: 0.5rem 1rem;
  margin: 5px 0;
  border-radius: 5px;
  margin-left: 0.3rem;
}

#clock {
  color: #8caaee;
}

#pulseaudio {
  color: #ea999c;
}

@keyframes cava-pulse {
0%   { color: #9091e8; }
50%  { color: #babbf1; }
100% { color: #9091e8; }
}

#cava {
  animation: cava-pulse 3s infinite;
}
