* {
  font-family: JetbrainsMono Nerd Font;
  font-size: 14px;
  min-height: 0;
  padding-right: 2px;
  padding-left: 1px;
  padding-bottom: 0px;
}

#waybar {
  background: transparent;
  color: #c6d0f5;
}

#workspaces {
  border-radius: 5px;
  margin: 5px;
  background: #101010;
  padding-right: 0.8rem;
}

#workspaces button {
  color: #babbf1;
  border-radius: 5px;
  padding: 0.4rem;
}

#workspaces button.active {
  color: #99d1db;
  border-radius: 5px;
}

#workspaces button:hover {
  color: #85c1dc;
  border-radius: 5px;
}

#clock,
#pulseaudio,
#cpu,
#memory,

#custom-spotify {
  background-color: #101010;
  padding: 0.5rem 1rem;
  margin: 5px 0;
  border-radius: 5px;
}

#memory {
  border-radius: 5px;
  margin-left: 0.3rem;
}

#cpu {
  border-radius: 5px;
  margin-left: 0.3rem;
}

#clock {
  color: #8caaee;
  border-radius: 5px;
  margin-right: 1rem;
}

#pulseaudio {
  color: #ea999c;
  border-radius: 5px;
  margin-left: 0.3rem;
}

#tray {
  border-radius: 5px;
}